@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100dvh;
    background-color: black;

    & header{
        width: 100%;
        height: 80px;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        & nav{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & img{
                width: 200px;
                height: auto;
                margin-left: 10px;
                border-radius: 5px;
            }

            .nav-menu{
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Bebas Neue', cursive;
                gap: 20px;
                margin-right: 10px;

                & a{
                    color: white;
                    text-decoration: none;
                    font-size: 20px;
                    transition: all 0.3s ease;

                    &:hover{
                        color: orange;
                    }
                    }

                & button{
                    font-family: 'Bebas Neue', cursive;
                    font-size: 20px;
                    padding: 10px 20px;
                    background-color: blueviolet;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;

                    &:hover{
                        background: linear-gradient(135deg, blueviolet 30%, orange);
                    }
            }
            }   
        }
    }

    & main{

        #home{
            background-image: url(../assets/imagem-fundo-banner.jpg);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: calc(100dvh - 80px);
            display: flex;
            flex-direction: column;
            align-items: center;

            & h1{
                font-family: 'Bebas Neue', cursive;
                font-size: 60px;
                color: white;
                margin-top: 100px;
            }

            & .string-decoration{
                width: 350px;
                height: 5px;
                background-color: orange;
                margin: 20px 0;
                border-radius: 10px;

                &::after{
                    content: '';
                    width: 5px;
                    height: 5px;
                    background-color: orange;
                    bottom: 10px;
                }
            }
        }
    }
}